//variables
$twine: #bd7e4d;
$shark: #466A66;
$springWood: #F8F9F4;
$midGrey: #5D5E60;

//mix-ins
@mixin flex {
    display: flex;
    margin: auto 0%;
  }
  @mixin LRpad {
    padding-left:15px ;
    padding-right: 15px;
  }



//main stuff
body{
    margin: 0;
    
}
nav{
    @include flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: $twine;
    .menue{
        color: $twine;
    }

    .logo{
        @include flex;
        align-items: center;
        img{
            height: 30px;
            width: auto;

            
        }
    }
    h1{
        font-family: 'Oleo Script Swash Caps', ;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: $springWood;
    }
 
}

.imgs{
    img{
        width: 85%;
        height: auto;
        margin: 15px;
        
    }
    @include flex;
    //border: 2px solid black;
    padding: 5px;
    justify-content: space-around;
    
}
.sec1-d2{
     
     @include flex;
     justify-content: center;
     @include LRpad;
     p{
        font-family: 'Delius Swash Caps', ;
        font-weight: normal;
        font-size: 42px;
        //line-height: 53px;
        text-align: center;
        color: $shark;
        margin-top: 0px;
        margin-bottom: 0px;
     }
}
.about{
    
    @include LRpad;
    @include flex;
    flex-direction: column;
    margin-bottom: 30px;

    .sec2-d1{
        p{
            font-family: 'Cabin', ;
            color: $shark;
            font-style: italic;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 25px;
        }
    }
    .sec2-d2{
        .sec2-d2-cont{
            @include flex;
             justify-content: center;
             text-align: center;
        }
        h2{
            font-family: 'Delius Swash Caps', ;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        p{
            font-family: 'Cabin', ;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 15px;
        }
        
        background-color: $shark;
        color: $springWood;
        border-radius: 2px;
        @include flex;
        @include LRpad;
        flex-direction: column;
       
    }
    
}


.construction{
    @include LRpad;
    @include flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;

    div{
        @include flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px ;
        img{
            height: 19px;
            
        }
        p{

            text-align: center;
            font-style: italic;
            font-family: 'Cabin', ;
            color: $shark;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
    }
    button{
        width: 120px;
        height: 40px;
        background: #BD7E4D;
        color: $springWood;
        border: 3px solid #BD7E4D;
       // box-sizing: border-box;
        border-radius: 5px;

        font-style: normal;
        font-family: 'Cabin', ;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        //display: flex;
        align-items: center;
        text-align: center;
        
        
    
    
    }
    .btn{
        @include flex;
    
        justify-content: center;
        margin:0 auto;
        
    }
}

@media (max-width: 500px){
  





    .sec1-d2{
        
        p{
            font-size: 24px;
        }
   }
  /* .about{
    flex-direction: column;

}*/
}